// TODO only this scss file should exist in the project, everything else should be removed

:root {
    /* Foreground Colors */
    --color-white:#ffffff;
    --color-black:#000000;
    --color-foreground-neutral: #{$foreground-neutral};
    --color-foreground-neutral-faded: #{$foreground-neutral-faded};
    --color-foreground-disabled: #{$foreground-disabled};
    --color-foreground-primary: #{$foreground-primary};
    --color-foreground-secondary: #{$foreground-secondary};
    --color-foreground-blue: #{$foreground-blue};
    --color-foreground-purple: #{$foreground-purple};
    --color-foreground-positive: #{$foreground-positive};
    --color-foreground-critical: #{$foreground-critical};
    --color-foreground-beige: #{$foreground-beige};
    --color-foreground-avatar: #{$foreground-avatar};
    
    /* Background Colors */
    --color-background-page: #{$background-page};
    --color-background-page-faded: #{$background-page-faded};
    --color-background-base: #{$background-base};
    --color-background-elevated: #{$background-elevated};
    --color-background-neutral: #{$background-neutral};
    --color-background-neutral-faded: #{$background-neutral-faded};
    --color-background-neutral-highlighted: #{$background-neutral-highlighted};
    --color-background-disabled: #{$background-disabled};
    --color-background-disabled-faded: #{$background-disabled-faded};
    --color-background-primary: #{$background-primary};
    --color-background-primary-faded: #{$background-primary-faded};
    --color-background-primary-highlighted: #{$background-primary-highlighted};
    --color-background-positive: #{$background-positive};
    --color-background-positive-faded: #{$background-positive-faded};
    --color-background-positive-highlighted: #{$background-positive-highlighted};
    --color-background-critical: #{$background-critical};
    --color-background-critical-faded: #{$background-critical-faded};
    --color-background-critical-highlighted: #{$background-critical-highlighted};
    --color-background-secondary: #{$background-secondary};
    --color-background-secondary-faded: #{$background-secondary-faded};
    --color-background-secondary-highlighted: #{$background-secondary-highlighted};
    --color-background-purple: #{$background-purple};
    --color-background-purple-faded: #{$background-purple-faded};
    --color-background-purple-highlighted: #{$background-purple-highlighted};
    --color-background-pink: #{$background-pink};
    --color-background-pink-faded: #{$background-pink-faded};
    --color-background-pink-highlighted: #{$background-pink-highlighted};
    --color-background-information-base: #{$background-information-base};
    --color-background-modal-header: #{$background-modal-header};
    --color-background-calendar: #{$background-calendar};
    --color-background-area: #{$background-area};
    --color-background-config-dialog-header: #{$background-config-dialog-header};
    --color-background-avatar: #{$background-avatar};

    --color-background-a-info: #{$background-a-info};
    --color-foreground-a-info: #{$foreground-a-info};
    --color-background-a-warn: #{$background-a-warn};
    --color-foreground-a-warn: #{$foreground-a-warn};
    ---color-border-a-component: #{$border-a-component};

    /* On Background Colors */
    --color-on-background-neutral: #{$on-background-neutral};
    --color-on-background-neutral-highlighted: #{$on-background-neutral-highlighted};
    --color-on-background-primary: #{$on-background-primary};
    --color-on-background-primary-highlighted: #{$on-background-primary-highlighted};
    --color-on-background-critical: #{$on-background-critical};
    --color-on-background-positive-highlighted: #{$on-background-positive-highlighted};
    --color-on-background-positive: #{$on-background-positive};
    --color-on-background-critical-highlighted: #{$on-background-critical-highlighted};

    /* Border Colors */
    --color-border-neutral: #{$border-neutral};
    --color-border-neutral-faded: #{$border-neutral-faded};
    --color-border-disabled: #{$border-disabled};
    --color-border-primary: #{$border-primary};
    --color-border-primary-faded: #{$border-primary-faded};
    --color-border-secondary: #{$border-secondary};
    --color-border-secondary-faded: #{$border-secondary-faded};
    --color-border-blue: #{$border-blue};
    --color-border-blue-faded: #{$border-blue-faded};
    --color-border-pink: #{$border-pink};
    --color-border-pink-faded: #{$border-pink-faded};
    --color-border-positive: #{$border-positive};
    --color-border-positive-faded: #{$border-positive-faded};
    --color-border-critical: #{$border-critical};
    --color-border-critical-faded: #{$border-critical-faded};
    --color-border-input: #{$border-input};

    --dots-background: url('../../images/dots-bg.png');
    --dots-background-size: 800px;
  }

  :root.light-theme {
    /* Foreground Colors */
    --color-black:#000000;
    --color-white:#ffffff;
    --color-foreground-neutral: #14141D;
    --color-foreground-neutral-faded: #414060;
    --color-foreground-disabled: #CDCBD8;
    --color-foreground-primary: #26ABA7;
    --color-foreground-positive: #05751F;
    --color-foreground-blue: #2563EB; // NEM FIGMA
    --color-foreground-critical: #CB101D;
    --color-foreground-secondary: #2FB3DA;
    --color-foreground-purple: #E7015F;
    --color-foreground-beige: #F5F5DC; // TODO SHOULD BE REMOVED
    --color-foreground-avatar: #656566;

    /* Background Colors */
    --color-background-page: #F4F4F4;
    --color-background-page-faded: #FAFAFA;
    --color-background-base: #FEFEFF;
    --color-background-elevated: #FEFEFF;
    --color-background-neutral: #38364A;
    --color-background-neutral-faded: #F8F8FF;
    --color-background-neutral-highlighted: #CAC9D2;
    --color-background-disabled: #ECEBEF;
    --color-background-disabled-faded: #F7F7FA;
    --color-background-primary: #38E8E3;
    --color-background-primary-faded: #2B6165;
    --color-background-primary-highlighted: #D2FDF9;
    --color-background-positive: #078549;
    --color-background-positive-faded: #E6FEF3;
    --color-background-positive-highlighted: #009950;
    --color-background-critical: #DA0000;
    --color-background-critical-faded: #900C0C;
    --color-background-critical-highlighted: #FF5959;
    --color-background-secondary: #49B0CE;
    --color-background-secondary-faded: #33B9E0;
    --color-background-secondary-highlighted: #76DCFB;
    --color-background-purple: #8E29A8;
    --color-background-purple-faded: #995EA8;
    --color-background-purple-highlighted: #AF6BC0;
    --color-background-pink: #DB2E74;
    --color-background-pink-faded: #BE2C68;
    --color-background-pink-highlighted: #F963A0;
    --color-background-information-base: #0369A1; // TODO SHOULD BE REMOVED
    --color-background-modal-header: #e1ecec;
    --color-background-calendar: #eaf2f2;
    --color-background-area: #ffffff;
    --color-background-config-dialog-header: #eaf2f2;
    --color-background-avatar: #efeff2;

    --color-background-a-info: #E1ECEC;
    --color-foreground-a-info: #374151;
    --color-background-a-warn: #F0EDCE;
    --color-foreground-a-warn: #905701;
    ---color-border-a-component: #d1d5db;

    /* On Background Colors */
    --color-on-background-neutral: #414060;
    --color-on-background-neutral-highlighted: #CDFCFF;
    --color-on-background-primary: #26ABA7;
    --color-on-background-primary-highlighted: #D2FDF9;
    --color-on-background-positive: #05751F;
    --color-on-background-positive-highlighted: #009950;
    --color-on-background-critical: #CB101D;
    --color-on-background-critical-highlighted: #E93535;

    /* Border Colors */
    --color-border-neutral: #C3C1D2;
    --color-border-neutral-faded: #E3E2EB;
    --color-border-disabled: #E3E2EB;
    --color-border-primary: #26ABA7;
    --color-border-primary-faded: #C8C4EF;
    --color-border-secondary: #00A6D7;
    --color-border-secondary-faded: #81C7DC;
    --color-border-blue: #2563EB; // NEM FIGMA
    --color-border-blue-faded: #60A5FA; // NEM FIGMA
    --color-border-pink: #BA024D;
    --color-border-pink-faded: #B5587E;
    --color-border-positive: #05751F;
    --color-border-positive-faded: #CDEDD5;
    --color-border-critical-faded: #FBD0D4;
    --color-border-input: #c3c1d2;

    // --dots-background:  #040A10FF
    --dots-background: url('../../images/patterns_light.png');
    --dots-background-size: 300px;
}
