// Colors
// Foreground
$foreground-neutral: #FCF7FF;
$foreground-neutral-faded: #9A989C;
$foreground-disabled: #414060;
$foreground-primary: #38E8E3;
$foreground-secondary: #3AC7F2;
$foreground-blue: #3A66F2;
$foreground-purple: #3D38E8;
$foreground-positive: #03AB5F;
$foreground-critical: #EB6666;
$foreground-beige: #F5F5DC;
$foreground-avatar: #000000;
// Background
$background-page: #040A10;
$background-page-faded: #0B141D;
$background-base: #171E25;
$background-elevated: #1B232C;
$background-neutral: #38364A;
$background-neutral-faded: #292738;
$background-neutral-highlighted: #4B485F;
$background-disabled: #2D2B3C;
$background-disabled-faded: #292737;
$background-primary: #38E8E3;
$background-primary-faded: #2B6165;
$background-primary-highlighted: #D2FDF9;
$background-positive: #078549;
$background-positive-faded: #01321C;
$background-positive-highlighted: #009950;
$background-critical: #DA0000;
$background-critical-faded: #900C0C;
$background-critical-highlighted: #FF5959;
$background-secondary: #54C6E8;
$background-secondary-faded: #4EB3D1;
$background-secondary-highlighted: #92E3FB;
$background-purple: #913EA7;
$background-purple-faded: #622B71;
$background-purple-highlighted: #965BA5;
$background-pink: #DF5A91;
$background-pink-faded: #CA648E;
$background-pink-highlighted: #FE6DA9;
$background-information-base: #004F7A;
$background-modal-header: #2B6165;
$background-calendar: #2a374a;
$background-area: #111827;
$background-config-dialog-header: #337f85;
$background-avatar: #efeff2;

$background-a-info: rgb(15 20 30);
$foreground-a-info: #43b7c0;
$background-a-warn: rgb(15 20 30);
$foreground-a-warn: #daaa15;
$border-a-component: #646464;

// On background
$on-background-neutral: #FCF7FF;
$on-background-neutral-highlighted: #CDFCFF;
$on-background-primary: #38E8E3;
$on-background-primary-highlighted: #D2FDF9;
$on-background-positive: #03AB5F;
$on-background-positive-highlighted: #009950;
$on-background-critical: #EB6666;
$on-background-critical-highlighted: #E93535;
// Border
$border-neutral: #353539;
$border-neutral-faded: #1E1E21;
$border-disabled: #929292;
$border-primary: #38E8E3;
$border-primary-faded: #25908D;
$border-secondary: #13B1E0;
$border-secondary-faded: #01799C;
$border-blue: #3A66F2;
$border-blue-faded: #274298;
$border-pink: #C6336F;
$border-pink-faded: #761C41;
$border-positive: #03AB5F;
$border-positive-faded: #034A2A;
$border-critical: #EB6666;
$border-critical-faded: #6A1C1C;
$border-input: #e5e7eb;
// Black & White
$black: #000000;
$white: #FFFFFF;
