// Shadow
$shadow-no: none;
$shadow-base: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
$shadow-elevated: 0px 15px 25px 0px rgba(0, 0, 0, 0.08), 0px 5px 10px 0px rgba(0, 0, 0, 0.04);


// Radius
$radius-small: 4px;
$radius-medium: 8px;
$radius-large: 12px;


// Units
$unit-1: 4px;
$unit-2: 8px;
$unit-3: 12px;
$unit-4: 16px;
$unit-5: 20px;
$unit-6: 24px;
$unit-7: 28px;
$unit-8: 32px;
$unit-9: 38px;
$unit-10: 40px;
$unit-11: 48px;
$unit-12: 56px;
$unit-20: 80px;
$unit-30: 120px;
$unit-40: 160px;
$unit-50: 200px;
$unit-60: 240px;
$unit-70: 280px;
$unit-80: 320px;
$unit-90: 360px;
$unit-100: 400px;


// Breakpoints
$bp-small: 660px;
$bp-medium: 900px;
$bp-large: 1280px;